NODE_ENV=
PORT=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
GOOGLE_CLIENT_ID=872877796182-rmdcnio23k3qbsgd7un6hdcgc9ftpi0q.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
SESSION_SECRET=
JWT_SECRET=
LOG_LEVEL=
WALLET_PRIVATE_KEY=